DATABASE_URL="postgresql://USUARIO:SENHA@HOST:5432/NOME_DO_BANCO?schema=public"

# Meta / Facebook / Instagram
NEXT_PUBLIC_APP_URL="https://rifastop.com.br"
META_APP_ID=""
META_APP_SECRET=""
META_TOKEN_ENCRYPTION_KEY=""
META_GRAPH_API_VERSION="v24.0"
